.gc-tag-grey {
  color: grey;
}

.gc-tag-yellow {
  color: #f2e559;
}

.addPTIcon {
  color: green;
  font-size: 22px;
}
.deletePTIcon {
  margin-right: 6px;
  color: orangered;
}

.showPTIcon {
  margin-right: 8px;
  margin-left: 1px;
  color: #2b579a;
}
.configurarPTIcon {
  margin-right: 6px;
  color: #2b579a;
}

.gc-noData-button {
  padding: 3px 2px 1px 13px !important;
  width: 257px !important;
}
.gc-inline-item {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
